*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    margin: 0;
}
.container{
    width: 100%;
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.6rem;
}

h2, h1{
    margin:0;
}
a{
    text-decoration: none;
    color: #00bfff;
}
table,th,td{
    border: 0.1rem solid #ffffff;
    border-collapse: collapse;
}

table{
    border-radius: 2rem;
    overflow: hidden;
    background-color: #dddd;
}

header{
    background-color:#00bfff;
    width: 100%;
    height: 10rem;
    color: 	#0000ff;
}

.app-name{
    padding: 0 1rem;
}

.app-name h2{
    font-size: 5rem;
}


.item-box{
    padding: 2rem;
    background-color: #f2f2f2;
    margin: 5%;
}

.item-box .header{
    text-align: center;
}

input, select{
    width: 70%;
    margin: 1rem 1rem;
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;  
    font-size: 1.6rem; 
}

label{
    padding: 1.2rem 1.2rem 0.2rem 0;
    display: inline-block;
    width: 20%;
    font-size: 1.6rem;
}

input[type=submit]{
    width: auto;   
}

.btn-con{
    text-align: center;
}

.btn{
    text-align: center;
    box-sizing: border-box;
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer; 
}

.btn-success{
    background-color:  #4CAF50;
}

.btn-danger{
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

.btn-warning{
    background-color: #e68a00;
    border: 1px solid #e68a00;
}

.home{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color:#00bfff;
    color: #0000ff;
}

.home-item-con{
    position: relative;
    top: 30%;
    text-align: center;
}


.home-item-con h1{
    font-size: 5rem;
}

.home-btn{
    display: inline;
}

.home-btn button{
    background-color: #01579b;
    border: 1px solid #01579b;
    padding: 1rem 2rem;    
}

.item-box a{
    padding: 2rem;
}

.dashboard{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: calc(100vh - 20vh);

}

.dashboard header h3{
    padding-left: 2rem;
    margin: 1rem .5rem;
}

.main aside{
    background-color: #00bfff;
    color: 	#0000ff;
}

.main aside a{
    color: 	#0000ff;
}

.main article{
    min-width: 60%;
}

.main article table{
    padding: 2rem;
    margin: 2rem;
}

.main article h3{
    padding: 1rem 2rem;
}

.main article td{
    padding: 0.5rem;
}

.main article img{
    width: 4rem;
    height: 2rem;
    border: .1rem solid #666666;
}

.dashboard header{
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    
}

.dashboard .user{
    padding: 1rem .5rem 0 3rem;
    display: flex;
    flex-direction: row;
    flex: auto;
}

.dashboard .photo img{
    width: 4rem;
    height: 4rem;
    border: .1rem solid #01579b;
    border-radius: 2rem;
}

.dashboard .username{
    margin-left: 2rem;
}

.dashboard header button{
    margin: .5rem 3rem;
    padding: .5rem;
    font-size: 1.2rem;
    float: right;
}

.dashboard header button a{
    color: #000000;
}

.dashboard footer{
    flex: 0 0 5vh;
    background-color:#666666;
    color: 	#ffffff;
    font-size: 1.0rem;
    text-align: center;
    padding: 0.5rem;
}

aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside li{
    padding: .4rem 0 0 1.2rem;
}

.menu{
    padding: 0.5rem 2rem;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #555;
}

.arrow{
    border: solid #0000ff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.to-right{
    float: right;
    margin-right: 1rem;
}

.hide{
    display: none;
}

.main td button{
    margin-right: 0.5rem;
    padding: .5rem;
    font-size: 1.2rem;
}
.main td button a{
    color: #000000;
}
.main article form{
    margin: 2rem;;
}

article p{
    padding-left: 2rem;
    margin: 1rem;
}

.apply-con .btn{
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 0.8rem;
}

.apply-con .btn a{
    color: #000000;
}

.apply-con{
    border: .1rem solid #ff9900;
    border-radius: 1rem;
    background-color: #ff9900;
    color: #ffffff;
    margin: 0 2rem;
}

.select-con{
    padding-left: 2rem;
}

.dashboard .profile-pix img{
    width: 10rem;
    height: 10rem;
    border: .1rem solid #01579b;
    border-radius: 5rem;
    margin: 2rem 4rem;
}

.dashboard .profile-pix{
    text-align: center;
}
.profile-con{
    width: 80%;
    height: 80%;
    border: .1rem solid #01579b;
    border-radius: 2rem;
    margin: 3rem 2rem;
    padding: 2rem;
}

.dashboard .profile-con table{
    border-radius: 2rem;
    overflow: hidden;
    margin: 0 0 2rem 0;
    width: 100%;
}

.profile-con td{
    background: #dddddd;
    border-left: none;
    border-bottom: 0.2rem solid white; 
}
.profile-con tr td:first-of-type{
    border-right: 0.2rem solid #01579b;
}

.profile-con a{
    color: #000000;
}

.change-psw-con{
    background-color: #dddddd;
}


@media screen and (min-width: 800px){
    .item-box{
        width: 60% ;
        margin: 5rem 20%;
    }

    label{
        width: 17%;
    }

    input[type=submit]{
        width: 20rem;   
    }

    .main aside{
        flex: 0 0 20vw;
        background-color: #01579b;
        color: 	#00bfff;
        padding-top: 3rem;
    }

    .main{
        display: flex;
        flex-direction: row;
    }

    .main aside a{
        color: 	#00bfff;
    }

    .arrow{
        border-color: #00bfff;
    }

    .main article td{
        padding: 1.5rem;
    }

    .main article label{
        min-width: 25%;
    }

    .dashboard header{
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
    }

    .dashboard .title{
        margin: .8rem .5rem 0 0;
        flex: 1;
    }

    .dashboard .user{
        margin: .8rem .5rem 0 0;
        flex: 0 0 30vw;
    }

    .dashboard header button{
        margin: 3rem 0.5rem;
    }
}

@media screen and (max-width: 580px){

    label{
        width: 100%;
    }
}